.total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.total h1{
    font-size: 80px;
    font-weight: 700;
    color: black;
    font-family: Impact;
}
.total p{
font-size: 35px;
font-weight: 400;
color: black;
font-family: 'Times New Roman', Times, serif;

}
.total button{
    padding: 30px 100px;
    background-color: blue;
    font-size: 13.3px;
    font-weight: 400;
    color: white;
   box-shadow: 1px 1px 1px 1px;
   margin-bottom: 20px;
}
.total button:hover{
    background-color: green;
}
.total .quote{
    font-size: 35px;
    font-weight: 400;
    color: black;
    padding-bottom: 20px;
    }